<?xml version="1.0"?>



<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection"
		     connectionString="Server=dba67c9b-eb78-4837-a5e0-af0a0013c1aa.sqlserver.sequelizer.com;Database=dbdba67c9beb784837a5e0af0a0013c1aa;User ID=uetsyvfyiwvroqvn;Password=GUJga8djEGbbSDkU6pFpHJ3tkgo4bsreKJwJi7gWhKmyXjoYQfTsfJ662q43Shhn;Integrated Security=True"
		     providerName="System.Data.SqlClient"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)"/>
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
