<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="workstation id=DefaultConnection.mssql.somee.com;packet size=4096;user id=mikhailgoodridge_SQLLogin_1;pwd=cfa7oozuh1;data source=DefaultConnection.mssql.somee.com;persist security info=False;initial catalog=DefaultConnection"
		 providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
