@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Created by Mikhail Goodridge</h3>

<p>This app is used for storing contact information.</p>
<br>

<h4>Contact Me.</h4>
<p>Email: MikhailGoodridge@outlook.com</p>

<br />
<h4><a href="https://github.com/mikhailgoodridge/ContactsWebLiveDemo">Git Repo</a></h4>
