@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contacts Web Application</h1>
    <p class="lead">Manage your contacts.</p>
    <p><a href="https://contactsweblivedemo.azurewebsites.net/Contacts" class="btn btn-primary btn-lg">Click Here &raquo;</a></p>
</div>
